<%- include('partials/header'); %>
  <title>Add order</title>
	<link rel="stylesheet" href="/css/forms.css" />
	<script src="/js/forms.js" defer></script>
<%- include('partials/layout'); %>
<style>
  .radio-button {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}


.radio-button:hover {
  background-color: #eee;
}

.radio-button:checked {
  background-color: #ddd;
}

</style>
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Add order</h2>
      <ol>
        <li><a href="/<%=  locals.ctype %>">Home</a></li>
        <li><a href="/<%=  locals.ctype %>/orders">Orders</a></li>
        <li>Add order</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->
<main>
	<div class="form-container">
		<form action="/<%= locals.ctype %>/orders/add/select" method="post" class="big">
			<div>
				<h2 class="center">Select Supplier</h2>
			</div>
              <% for (const sup of suppliers) { %>
                <div class="field radio-button">
                
                    <label for="supplier-<%= sup['Supplier_id']%>" display="inline-block; text-align: left;">
                      <div class="accordion">
                         <p>Name: <%= sup['Supplier_name'] %></p> 
                         <p>Email: <%= sup['Supplier_email']%></p> 
                         <p>Ph: <%= sup['Supplier_contact']%></p>
                      </div>
                     </label>
                   <center><input style="border: 0px; width: auto; position: center;" type="radio" id="supplier-<%= sup['Supplier_id']%>" name="supplier_id" value="<%= sup['Supplier_id']%>">
                   </center>  
               
                  
                </div>
              <% } %>
               <center> <button type="submit" class="button">Submit</button> </center>
    
		</form>
	</div>
</main>
<script>
  
</script>
<%- include('partials/footer') %>
